aside {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

aside > .recruit {
  border: none;
  border-radius: 10px;
  background-color: #ff5160;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 10px;
}

aside > .recruit:hover {
  background-color: #db3b57;
}

@media screen and (max-width: 480px) {
  aside {
    bottom: 20px;
    right: 0px;
    width: 100vw;
    padding: 0 10px;
  }

  aside > .recruit {
    width: 100%;
  }
}
